version: 2.1
orbs:
  android: circleci/android@1.0.3
jobs:
  build:
    executor:
      name: android/android-machine
    steps:
      - checkout
      - run:
          name: Lint
          command: ./gradlew lint
      - run:
          name: Unit tests
          command: ./gradlew testDebugUnitTest
      - store_test_results:
          path: app/build/test-results
      - run:
          name: Generate Code Coverage report and upload to coveralls
          command: ./gradlew jacocoFullReport coverallsJacoco
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - run:
          name: Assemble build release
          command: ./gradlew assembleRelease

workflows:
  myworkflow:
    jobs:
      - build
